streamlit
pandas
numpy
# BigQuery dependencies (comentado para uso futuro)
# google-cloud-bigquery
# google-cloud-bigquery-storage
# db-dtypes
# PostgreSQL dependencies
psycopg2-binary
sqlalchemy
plotly
streamlit-plotly-events
python-dotenv
pytest
